{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <form action="/modificar_responsable/{{responsable.id}}/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        placeholder="Nombre de res" value="{{responsable.nombre}}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">Apellidos</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido"
                                        placeholder="Apellido de Responsable" value="{{responsable.apellido}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">Correo</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Correo de Responsable" value="{{responsable.email}}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">Departamento</label>
                                    <div>
                                        <select class="form-control" name="departamento" id="departamento">
                                            {% for depa in departamentos %}
                                            <option value="{{depa.id}}" {% if depa.id == responsable.departamento.id %} selected {% endif %}>{{depa.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="">.</label>
                                        <button type="submit" class="btn btn-primary form-control">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
{% endblock %}